{#
Copyright 2025 New Vector Ltd.

SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE files in the repository root for full details.
-#}

{% extends "base.html" %}

{% block content %}
  <main class="flex flex-col gap-6">
    <header class="page-heading">
      <div class="icon invalid">
        {{ icon.error_solid() }}
      </div>

      <div class="header">
        <h1 class="title">
          {#- :tchap: show a specific title depending on the state of the existing account -#}
          {%- if existing_account_state == "was_reactivated" -%}
            {{ _("mas.email_in_use.reactivated_title", email=email) }}
          {%- elif existing_account_state == "is_deactivated" -%}
            {{ _("mas.email_in_use.is_deactivated_title", email=email) }}
          {%- else -%}
            {{ _("mas.email_in_use.title", email=email) }}
          {%- endif -%}
        </h1>
        <p class="text">
          {#- :tchap: show a specific message depending on the state of the existing account -#}
          {%- if existing_account_state == "was_reactivated" -%}
            {{ _("mas.email_in_use.reactivated_description") }}
          {%- elif existing_account_state == "is_deactivated" -%}
            {{ _("mas.email_in_use.is_deactivated_description") }}
          {%- else -%}
            {{ _("mas.email_in_use.description") }}
          {%- endif -%}
        </p>
      </div>
    </header>

    {% set params = action | default({}) | to_params(prefix="?") %}
    {{ button.link_outline(text=_("action.continue"), href="/login" ~ params) }}
  </main>
{% endblock %}
