# Matrix Authentication Service (MAS) - Configuration Variables
# To run within Tchap Docker Integration docker environment, copy generated values
#  from <Tchap Docker Integration>/data/mas/config.yaml

# MATRIX & HOMESERVER
mas_admin_token: 
matrix_dinsic_domain: tchapgouv.com
matrix_mas_domain: auth.tchapgouv.com

# SYNAPSE CLIENT
mas_synapse_client_id: 0000000000000000000SYNAPSE
mas_synapse_client_secret: 
mas_synapse_client_auth_method: client_secret_basic

# ADMIN CLIENT
mas_api_client_id: 01J44RKQYM4G3TNVANTMTDYTX6
mas_api_client_secret: 

# DATABASE
mas_db_user: postgres
mas_db_password: postgres
mas_db_host: localhost
mas_db_port: 5439
mas_db_max_connections: 10

# EMAIL
matrix_synapse_email_from: tchapgouv.com
smtp_server: 127.0.0.1

# SECRETS & ENCRYPTION
mas_config_encryption: eb38b8b9087842b3345269f3c6ca92b2a8d6aa63e3a773d23ed1c9cb45c5ef83
matrix_pepper_secret: secret01

# POLICY
mas_api_client_id: 01J44RKQYM4G3TNVANTMTDYTX6

# OPTIONAL FEATURES
mas_allow_localhost_client: true
mas_password_registration_enabled: true
mas_increase_rate_limit_for_testing: true
mas_access_token_ttl_in_seconds: 300

#to activate admin api 
mas_show_swagger_ui: true
group_names:
 - "dev"

# UPSTREAM OAUTH2 PROVIDER (ProConnect, etc.)
mas_upstream_provider_enabled: true
mas_upstream_provider_id: 01JK5MR1SD21MAQY4PWMFG283W
mas_upstream_provider_issuer: https://sso.tchapgouv.com/realms/proconnect-mock
mas_upstream_provider_auth_method: client_secret_basic
mas_upstream_provider_client_id: matrix-authentication-service
mas_upstream_provider_client_secret: 

# TCHAP SPECIFIC
matrix_authentication_identity_server_url: http://localhost:8083
webapp_domain: element.tchapgouv.com
matrix_synapse_sso_proconnect_user_id_lookup_fallback_rules:
  - match : '@numerique.gouv.fr'
    search: '@beta.gouv.fr'
